* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainContainer {
  border: 1px solid black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0.1);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;

  padding: 1rem 1rem;
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */

  align-items: center;
}

h2,
h3,
p {
  margin-bottom: 0.7rem;
}

p {
  line-height: 1.3rem;
}
